<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pathLOG" value="C:\TRANSF\LOG\EFM003.log" />
    <add key="tickerURL" value="https://api.bitfinex.com/v2/ticker/" />
    <add key="orderURL" value="https://api.bitfinex.com/v1/order/new" />
    <add key="orderURI" value="/v1/order/new" />
    <add key="orderHistoryURL" value="https://api.bitfinex.com/v2/auth/r/orders/Symbol/hist" />
    <add key="candlesURL" value="https://api.bitfinex.com/v2/candles/trade:" />
    <add key="apiKEY" value="kF7UdC6b0E3eKmC0nLHvCGubAgnbwRVJTuOcWOAzMDi" />
    <add key="apiSECRET" value="uCgpWsNwyNwxriW44BhOFPIWZ4vPii0BAQBGeFhlrIO" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>